<h1>Recipes#index</h1>
<p>Find me in app/views/recipes/index.html.erb</p>


<%@recipes.each do |recipe| %>
<%= link_to recipe.name, recipe_path(recipe) %>
<% end %>






<%= form_with(url: "/ingredients", method: "get") do %>
  <%= label_tag(:id, "Search for:") %>
  <%= text_field_tag(:id) %>
  <%= submit_tag("Search") %>
<% end %>