<h1><%= @user.name %></h1>
<p>Find me in app/views/users/show.html.erb</p>
<ul>
  <% @user.recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %></li>
  <% end %>
</ul>
<%= link_to "Delete this User", user_path(@user), :method => :delete %>
<%=%>
<%=%>
<%=%>
