<h1>Ingredients#index</h1>
<p>Find me in app/views/ingredients/index.html.erb</p>
<ul>
  <% @ingredients.each do |ingredient| %>
    <% ingredient.allergies.each do |allergy| %>
      <li><%= allergy.user.name %></li>
      <% end %>
  <% end %>
</ul>

<%=%>
<%=%>
<%=%>
<%=%>
<%=%>
<%=%>
